<h1>See Puppies Below</h1>
<% @puppies.each do |puppy| %>
<p><%= puppy.name %><%= puppy.age %><%= puppy.breed %></p> <%=link_to(name="show", url = "/puppies/#{puppy.id}")%> <%=link_to(name="edit", url = "/puppies/#{puppy.id}/edit")%> <%=link_to(name="delete", url = "/puppies/#{puppy.id}",method: :delete)%>
<%end %>

<a href="/puppies/new">Add New Puppy</a>
